---
layout: default
published: true
---

<div class="container">
  <!-- begin post -->
  <article class="post">
    <div class="post__head" data-aos="fade-up" data-aos-easing="ease-out-quad" data-aos-duration="700">
      <h1 class="post__title">{{ page.title | escape }}</h1>
      <div class="post__date">
        <time datetime="{{ page.date | date_to_xmlschema }}"> {{page.author}} {{page.date | date: '%b %d, %Y'}}</time>
      </div>
      {% if page.image %}
      <div class="post-image img-blur" style="background-image: url({{site.baseurl}}{{page.image}})"></div>
      {% endif %}
    </div>

    <div class="post__content" data-aos="fade-up" data-aos-easing="ease-out-quad" data-aos-delay="100" data-aos-duration="700">
      {{ content }}{: .text-justify}
    </div>
    

    


    {% if site.disqus-identifier %}
      {% include show-disqus.html %}
    {% endif %}

  </article>
  <!-- end post -->
</div>
